<div class="container py-3 d-flex flex-column">
     <div class= "post_container">
      <div class="post-details">
        <h2>Post Title: #<%= @post.title %> by <%= @user.name%></h2>
        <div class="likes-comments-container">
          <span>Comments: <%= @post.postsCounter || 0 %></span>
          <span>Likes: <%= @post.LikesCounter || 0 %></span>
        </div>
      </div>
      <p><%= @post.text %></p>
     </div>
      <ul class="comments-list">
        <% @comments.each do |comment| %>
          <li> 
          <%= comment.user.name%>
          <%= comment.text%>
          <% if can? :destroy, comment %>
            <%= button_to "X", post_comment_path(@post.id, comment.id), method: :delete %>
          <% end %>
          </li>
        <%end%>
      </ul>
      <%= render partial: "likes/form" %>
      <%= render partial: "comments/form"%>
      <% if can? :destroy, @post %>
      <%= button_to "Delete", user_post_path(@user, @post), method: :delete %>
      <% end %>
</div>